body {
  margin: 0;
  padding: 0;
}
html, body, .map-container {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  font-size: 10pt;
  height: 100%;
  width: 100vw;
}
a img {
  border: 0;
}

.leaflet-popup-content a {
  color: #007bff;
}

.about-icon{
  position: absolute;
  right: 0;
  top: 4em;
  z-index: 999;
}
.about-icon a.btn-light {
  display: block;
  width: 48px;
  height: 48px;
  line-height: 3em;
  text-align: center;
  margin-top: 10px;
  margin-right: 10px;
  border-radius: 5px;
  border: 2px solid rgba(0,0,0,0.2);
}

.route-label, .stop-label {
  background-color: #999999;
  color: #ffffff;
  font-weight: bold;
  margin-bottom: 1em;
  padding: 0.5em;
}

.popup-table, .tooltip-table {
  th {
    white-space: nowrap;
  }
}

.no-data-overlay {
  display: none;
  background-color: #ffffff;
  background-color: rgba(255, 255, 255, 0.75);
  font-size: 2em;
  padding-top: 2em;
  padding-bottom: 2em;
  position: fixed;
  text-align: center;
  top: 40vh;
  width: 100vw;
  z-index: 997;
}

.map-tools {
  bottom: 2.5em;
  left: 0.5em;
  position: fixed;
  z-index: 998;
}

.btn-primary {
  background-color: purple;
  border-color: purple;
}

@media screen and (max-width: 600px) {

}
