body {
  margin: 0;
  padding: 0;
}
html, body, .map-container {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  font-size: 10pt;
  height: 100%;
  width: 100vw;
}
a img {
  border: 0;
}

.leaflet-popup-content a {
  color: #007bff;
}

.corner-ribbon{
  height: 100px;
  position: absolute;
  right: 0;
  top: 0;
  width: 100px;
  z-index: 999;
}

.route-label {
  background-color: #999999;
  color: #ffffff;
  font-weight: bold;
  margin-bottom: 1em;
  padding: 0.5em;
}

.popup-route-table th {
  white-space: nowrap;
}

.alert-indicator {
  bottom: 2.5em;
  left: 0.5em;
  position: fixed;
  z-index: 998;
}
.alert-indicator .btn {
  background-color: purple;
  border-color: purple;
}

@media screen and (max-width: 600px) {
  .corner-ribbon {
    visibility: hidden;
  }
}
