<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8" />
    <title>WeGo Bus Map</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
    <link rel="apple-touch-icon" sizes="57x57" href="/apple-icon-57x57.png" />
    <link rel="apple-touch-icon" sizes="60x60" href="/apple-icon-60x60.png" />
    <link rel="apple-touch-icon" sizes="72x72" href="/apple-icon-72x72.png" />
    <link rel="apple-touch-icon" sizes="76x76" href="/apple-icon-76x76.png" />
    <link rel="apple-touch-icon" sizes="114x114" href="/apple-icon-114x114.png" />
    <link rel="apple-touch-icon" sizes="120x120" href="/apple-icon-120x120.png" />
    <link rel="apple-touch-icon" sizes="144x144" href="/apple-icon-144x144.png" />
    <link rel="apple-touch-icon" sizes="152x152" href="/apple-icon-152x152.png" />
    <link rel="apple-touch-icon" sizes="180x180" href="/apple-icon-180x180.png" />
    <link rel="icon" type="image/png" sizes="192x192"  href="/android-icon-192x192.png" />
    <link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png" />
    <link rel="icon" type="image/png" sizes="96x96" href="/favicon-96x96.png" />
    <link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png" />
    <link rel="manifest" href="/manifest.json" />
    <meta name="msapplication-TileColor" content="#ffffff" />
    <meta name="msapplication-TileImage" content="/ms-icon-144x144.png" />
    <meta name="theme-color" content="#ffffff" />

    <meta name="description" content="A realtime map for WeGo bus locations." />

    <meta name="twitter:card" content="summary_large_image" />
    <meta name="twitter:site" content="@stephenyeargin" />
    <meta name="twitter:title" content="WeGo Bus Map" />
    <meta name="twitter:description" content="A realtime map for WeGo bus locations." />
    <meta name="twitter:image" content="https://raw.githubusercontent.com/stephenyeargin/wego-bus-map/master/screenshot.png" />

    <meta property="og:type" content="article" />
    <meta property="og:title" content="WeGo Public Transit Bus Map" />
    <meta property="og:site_name" content="WeGo Bus Map" />
    <meta property="og:url" content="https://wego-bus-map.herokuapp.com/" />
    <meta property="og:image" content="https://raw.githubusercontent.com/stephenyeargin/wego-bus-map/master/screenshot.png" />
    <meta property="article:published_time" content="2018-09-08" />
    <meta property="article:author" content="https://github.com/stephenyeargin/wego-bus-map" />

    <link rel="stylesheet" href="//unpkg.com/leaflet@1.3.4/dist/leaflet.css" integrity="sha512-puBpdR0798OZvTTbP4A8Ix/l+A4dHDD0DGqYW6RQ+9jxkRFclaxxQb/SJAWZfWAkuyeQUytO7+7N4QKrDh+drA==" crossorigin="anonymous"/>
    <link rel="stylesheet" href="/assets/stylesheets/app.css" />
  </head>
  <body>

    <div class="corner-ribbon">
      <a href="https://github.com/stephenyeargin/wego-bus-map" target="_blank"><img src="/assets/images/github-corner-ribbon.svg" width="100" height="100" alt="View on GitHub" /></a>
    </div>

    <div id="alerts"></div>
    
    <div id="alert_indicator"></div>

    <div id="map">
      <p>Loading ...</p>
      <noscript>Howdy! It looks like your browser does not have JavaScript enabled. Unfortunately, the mapping platform requires it. Please enable JavaScript and reload the page.</noscript>
    </div>

    <script src="//unpkg.com/jquery@3.3.1/dist/jquery.min.js" integrity="sha384-tsQFqpEReu7ZLhBV2VZlAu7zcOV+rXbYlF2cqB8txI/8aZajjp4Bqd+V6D5IgvKT" crossorigin="anonymous"></script>
    <script src="//unpkg.com/leaflet@1.3.4/dist/leaflet.js" integrity="sha512-nMMmRyTVoLYqjP9hrbed9S+FzjZHW5gY1TWCHA5ckwXZBadntCNs8kEqAWdrb9O7rxbCaA4lKTIWjDXZxflOcA==" crossorigin="anonymous"></script>
    <script src="//unpkg.com/moment@2.22.2/moment.js" integrity="sha384-rCWDlX0ts8DR19RqjyA5Pi/rsyO1CtL0u3FwkCX9+shkYbnKVIkXceW5FARgCH6T" crossorigin="anonymous"></script>
    <script src="//unpkg.com/leaflet.marker.slideto@0.2.0/Leaflet.Marker.SlideTo.js" integrity="sha384-DbGhsxqEsz59EHc/KnvMa81Rmw1BfXzvLoVFseSnr5e1v2txAN6CdoJlPsL2Cu/i" crossorigin="anonymous"></script>
    <script src="/assets/javascript/app.js"></script>
  </body>
</html>
