<% content_for :title do %>WeGo Bus Map<% end %>
<% content_for :description do %>A realtime map for WeGo bus locations using data from WeGo Public Transit.<% end %>

<div class="about-icon">
  <a href="/about" class="btn btn-light"><i class="fas fa-info-circle fa-2x"></i></i></a>
</div>

<div class="map-tools">
  <button class="btn btn-primary alert-indicator">Loading ...</button>
</div>

<div class="no-data-overlay">
  No vehicle location data available.
</div>

<div id="map" class="map-container">
  <noscript>Howdy! It looks like your browser does not have JavaScript enabled. Unfortunately, the mapping platform requires it. Please enable JavaScript and reload the page.</noscript>
</div>

<div class="modal fade" id="service_alerts_modal" tabindex="-1" role="dialog" aria-labelledby="service_alerts_modal_label" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="service_alerts_modal_label"><i class="fas fa-exclamation-triangle" aria-hidden="true"></i> Service Alerts</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <div id="service_alerts"></div>
      </div>
    </div>
  </div>
</div>

<div class="modal fade" id="trip_details_modal" tabindex="-1" role="dialog" aria-labelledby="trip_details_modal_label" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="trip_details_modal_label"><i class="fas fa-map" aria-hidden="true"></i> Trip Details</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <div id="trip_details"></div>
      </div>
    </div>
  </div>
</div>

<template id="trip_details_template">
  <a href="/routes/{route_short_name}" target="_blank" class="d-block route-label" style="background-color: #{route_color}; color: #{route_text_color};">{route_short_name} - {route_long_name}</a>
  <table class="table table-borderless table-sm">
    <tbody>
      <tr>
        <th scope="row"><i class="fas fa-map-signs fa-fw" aria-hidden="true"></i> Headsign</th>
        <td>{trip_headsign}</td>
      </tr>
      <tr>
        <th scope="row"><i class="fas fa-map fa-fw" aria-hidden="true"></i> Trip</th>
        <td>{trip}</td>
      </tr>
      <tr>
        <th scope="row"><i class="fas fa-bus fa-fw" aria-hidden="true"></i> Vehicle</th>
        <td>{vehicle}</td>
      </tr>
      <tr>
        <th scope="row"><i class="fas fa-hourglass-start fa-fw" aria-hidden="true"></i> Trip Started</th>
        <td>{start_time}</td>
      </tr>
      <tr>
        <th scope="row"><i class="fas fa-clock fa-fw" aria-hidden="true"></i> Updated</th>
        <td>{updated}</td>
      </tr>
    </tbody>
  </table>
  <div class="text-right"><em><a href="{agency_url}" target="_blank" class="text-muted">{agency}</a></em></div>
  <hr />
  <table id="trip_stop_time_updates" class="table table-borderless table-sm">
    <thead>
      <tr>
        <th scope="col">Sequence</th>
        <th scope="col">Stop ID</th>
        <th scope="col">
          Estimated Time<br />
          <small>(Scheduled)</small>
        </th>
      </tr>
    </thead>
    <tbody></tbody>
  </table>
</template>

<template id="trip_details_unavailable_template">
  <a href="/routes/{route_short_name}" target="_blank" class="d-block route-label" style="background-color: #{route_color}; color: #{route_text_color};">{route_short_name} - {route_long_name}</a>
  <table class="table table-borderless table-sm">
    <tbody>
      <tr>
        <th scope="row"><i class="fas fa-map-signs fa-fw" aria-hidden="true"></i> Headsign</th>
        <td>{trip_headsign}</td>
      </tr>
      <tr>
        <th scope="row"><i class="fas fa-map fa-fw" aria-hidden="true"></i> Trip</th>
        <td>{trip}</td>
      </tr>
    </tbody>
  </table>
  <div class="text-right"><em><a href="{agency_url}" target="_blank" class="text-muted">{agency}</a></em></div>
  <hr />
  <div class="alert alert-info">
    The realtime data feed did not include any further updates for this trip. It may be completed.
  </div>
</template>

<template id="trip_stop_time_update_body">
  <tr>
    <td><span class="badge badge-info">{stop_sequence}</span></td>
    <td>
      {stop_name}<br />
      <small>({stop_id}) {stop_description}</small>
    </td>
    <td>
      {eta}<br />
      <small>({scheduled})</small>
    </td>
  </tr>
</template>

<template id="vehicle_tooltip_template">
  <div class="route-label" style="background-color: #{route_color}; color: #{route_text_color};">{route_short_name} - {route_long_name}</div>
  <table class="table table-borderless table-sm">
    <tbody>
      <tr>
        <th scope="row"><i class="fas fa-bus fa-fw" aria-hidden="true"></i> Vehicle</th>
        <td>{vehicle}</td>
      </tr>
      <tr>
        <th scope="row"><i class="fas fa-map fa-fw" aria-hidden="true"></i> Trip</th>
        <td>{trip}</td>
      </tr>
    </tbody>
  </table>
</template>

<template id="stop_tooltip_template">
  <div class="stop-label" style="background-color: #{route_color}; color: #{route_text_color};"><span class="badge badge-light">{stop_sequence}</span>&nbsp;&nbsp;{stop_name}</div>
  <table class="table table-borderless table-sm popup-table">
    <tbody>
      <tr>
        <th scope="row"><i class="fas fa-clock fa-fw" aria-hidden="true"></i> Scheduled</th>
        <td>{scheduled}</td>
      </tr>
    </tbody>
  </table>
</template>

<template id="popup_loading_template">
  <div class="text-center">
    <i class="fas fa-spinner fa-spin fa-3x fa-fw" aria-hidden="true"></i>
    <span class="sr-only">Loading...</span>
  </div>
</template>

<template id="vehicle_popup_template">
  <a href="/routes/{route_short_name}" target="_blank" class="d-block route-label" style="background-color: #{route_color}; color: #{route_text_color};">{route_short_name} - {route_long_name}</a>
  <table class="table table-borderless table-sm popup-table">
    <tbody>
      <tr>
        <th scope="row"><i class="fas fa-map-signs fa-fw" aria-hidden="true"></i> Headsign</th>
        <td>{trip_headsign}</td>
      </tr>
      <tr>
        <th scope="row"><i class="fas fa-bus fa-fw" aria-hidden="true"></i> Vehicle</th>
        <td>{vehicle}</td>
      </tr>
      <tr>
        <th scope="row"><i class="fas fa-map fa-fw" aria-hidden="true"></i> Trip</th>
        <td><a href="javascript:void(0)" class="view-trip-details-link">{trip}</a></td>
      </tr>
      <tr>
        <th scope="row"><i class="fas fa-compass fa-fw" aria-hidden="true"></i> Heading</th>
        <td>{heading}</td>
      </tr>
      <tr>
        <th scope="row"><i class="fas fa-tachometer-alt fa-fw" aria-hidden="true"></i> Speed</th>
        <td>{speed}</td>
      </tr>
      <tr>
        <th scope="row"><i class="fas fa-clock fa-fw" aria-hidden="true"></i> Updated</th>
        <td>{updated}</td>
      </tr>
    </tbody>
  </table>
  <div class="text-right"><em><a href="{agency_url}" target="_blank" class="text-muted">{agency}</a></em></div>
</template>

<template id="stop_popup_template">
  <div class="stop-label" style="background-color: #{route_color}; color: #{route_text_color};"><span class="badge badge-light">{stop_sequence}</span>&nbsp;&nbsp;{stop_name}</div>
  <div class="text-center mb-3"><small>{stop_description}</small></div>
  <table class="table table-borderless table-sm popup-table">
    <tbody>
      <tr>
        <th scope="row"><i class="fas fa-map-signs fa-fw" aria-hidden="true"></i> Stop ID</th>
        <td>{stop_gid}</td>
      </tr>
      <tr>
        <th scope="row"><i class="fas fa-clockfa-fw" aria-hidden="true"></i> Scheduled</th>
        <td>{scheduled}</td>
      </tr>
    </tbody>
  </table>
</template>

<template id="attribution_template">
  &copy; <a href="http://www.openstreetmap.org/copyright" target="blank">OpenStreetMap</a> &copy; <a href="http://cartodb.com/attributions" target="blank">CartoDB</a>; Data by <a href="http://www.wegotransit.com" target="blank">WeGo Public Transit</a>
</template>

<template id="alert_indicator_template">
  <i class="fas fa-exclamation-triangle" aria-hidden="true"></i>&nbsp; Service Alert{plural} &nbsp;<span class="badge badge-light">{count}</span>
</template>

<template id="location_button_template">
  <button type="button" class="btn btn-primary btn-rounded">
    <i class="fas fa-location-arrow" aria-hidden="true"></i>
  </button>
</template>

<template id="alert_group_template">
  <div class="accordion" id="alertGroup"></div>
</template>

<template id="alert_group_item_template">
  <div class="">
    <div class="mb-3" id="alert-group-heading-{type}">
      <h4 class="mb-0">
        <a href="javascript:void(0)" data-toggle="collapse" data-target="#alert-group-{type}" aria-expanded="true" aria-controls="alert-group-{type}">
          <div class="float-right">
             <div id="alert-group-count-{type}" class="badge badge-secondary">0</div>
          </div>
          {displayType}
        </a>
      </h4>
    </div>
    <div id="alert-group-{type}" class="collapse" aria-labelledby="alert-group-heading-{type}" data-parent="#alertGroup">
      <div class="p-1">
        <div id="alert-group-{type}-alerts"></div>
      </div>
    </div>
  </div>
</template>

<template id="alert_template">
  <div class="alert alert-{alert_class}" role="alert">
    <div><i class="fas fa-info-circle" aria-hidden="true"></i> {alert_effect} {alert_cause}</div>
    <hr />
    <h4 class="alert-heading">{alert_heading}</h4>
    <div class="alert-body">{alert_body}</div>
    <hr />
    <div><i class="fas fa-clock" aria-hidden="true"></i> {start_date} - {end_date}</div>
  </div>
</template>

<template id="alert_empty_template">
  <div class="alert alert-info" role="alert">
    There are no active service alerts at this time.
  </div>
</template>

<script>
  var GTFS_BASE_URL = '<%= ENV['GTFS_BASE_URL'] %>'
</script>

<script src="//unpkg.com/jquery@3.3.1/dist/jquery.min.js"></script>
<script src="//unpkg.com/bootstrap@4.1.3/dist/js/bootstrap.min.js"></script>
<script src="//unpkg.com/leaflet@1.3.4/dist/leaflet.js"></script>
<script src="//unpkg.com/moment@2.22.2/moment.js"></script>
<script src="//unpkg.com/leaflet.marker.slideto@0.2.0/Leaflet.Marker.SlideTo.js"></script>
<script src="/assets/javascript/leaflet.rotatedMarker.js"></script>
<script src="/assets/javascript/app.js"></script>
