.leaflet-container {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  font-size: 10pt;
  height: 450px;
  width: 100%;
  margin-bottom: 1rem;
  a {
    color: var(--bs-blue);
  }
}

.map-bottom-left-container {
  position: absolute;
  bottom: 1.25rem;
  left: 1rem;
  z-index: 999;
}

.map-top-right-container {
  position: absolute;
  top: 4rem;
  right: 10px;
  z-index: 400;
  a, a:link, a:visited, a:active, a:hover {
    text-align: center;
    color: black;
    padding-top: 0.5em;
    width: 48px;
    height: 48px;
    overflow: hidden;
    border: 2px solid rgba(0,0,0,0.2);
    background-color: white;
    border-radius: 5px;
    margin-bottom: 5px;
  }
}

.main, .stops {
  .leaflet-container {
    height: 100vh;
    margin: 0;
  }
  .map-bottom-left-container {
    position: fixed;
  }
}

:root {
  --dark-map-tiles-filter: brightness(0.6) invert(1) contrast(3) hue-rotate(200deg) saturate(0.3) brightness(0.7);
  --dark-marker-shadow-filter: invert(1);
  --dark-location-marker-filter: invert(1);
}

@media (prefers-color-scheme: dark) {
  .map-tiles {
      filter:var(--dark-map-tiles-filter, none);
  }
  img[src*="bus-shadow"], img[src*="train-shadow"] {
    filter:var(--dark-marker-shadow-filter, none);
  }
  img[src*="user-location"] {
    filter:var(--dark-location-marker-filter);
  }
  .leaflet-tooltip,
  .leaflet-popup-content-wrapper,
  .leaflet-popup-tip {
    background-color: var(--bs-body-bg);
    color: var(--bs-body-color);
  }
}
