.transit-route-header {
  border-radius: 10px;
  background-color: #999;
  color: #fff;
  padding: 1rem;
  font-weight: bold;
  margin-bottom: 0.5rem;
  a:any-link {
    text-decoration: none;
    color: white;
  }
  .transit-route-header-alert-trigger {
    cursor: pointer;
  }
}

td > .transit-route-header {
  padding: 0.5rem;
  margin: 0 0.5rem;
}
