.stop-name {
  text-align: center;
  font-weight: bold;
  border-radius: 3px;
  margin-bottom: 0.5rem;
  background-color: purple;
  color: white;
  padding: 1rem;
  a:any-link {
    color: white
  }
}

.navbar-dark.bg-dark {
  a:any-link {
    text-decoration: none;
  }
}

.navbar-dark .navbar-text a.btn-light {
  color: #000;
}

